{% extends 'base.html.twig' %}

{% block title %}Accueil - {{parent()}}{% endblock %}

{% block body %}


<div>
    <h1>Hello Liste ✅</h1>

    {% for event in events %}
        <h2>{{event.title}}</h2>
        <p>{{event.description}}</p>
        <a href="{{ path('event_show', {id: event.id}) }}">Voir plus</a>
        {% if date(event.start_date) <= date() and date(event.end_date) >= date() %}
            <p>en cours</p>
        {% elseif date(event.end_date) < date() %}
            <p>passé</p>
        {% else %}
            <p>futur</p>
        {% endif %}

    {% endfor %}

</div>
{% endblock %}
